{{ partial "header.html" . }}

<body>
	<div class="container wrapper list">
		{{ partial "head.html" . }}

		{{ if isset .Data "Term" }}
			<h1>Entries tagged - "{{ .Data.Term }}"</h1>
		{{ else }}
			<h4 class="page-title">Blog Posts</h1>
		{{ end }}

		{{ with .Content }}{{ . }}{{ end }}

		<ul class="posts">
			{{- range .Data.Pages -}}
			{{- if (in (.Site.Params.excludedTypes | default (slice "page")) .Type) -}}
			{{- else -}}
			<li>
				<a href="{{ .RelPermalink }}">{{.Title}}</a>
				<div class="page_meta">{{ dateFormat "Jan 2, 2006" .Date }}{{ if .Draft }} <span class="draft-label"> DRAFT </span> {{ end }}</div>
			</li>
			{{- end -}}
			{{- end -}}
		</ul>
		<a href="{{ .Site.BaseURL }}" title="Home"><< Return Home</a>
	</div>

	{{ partial "footer.html" . }}
</body>
